name: "Parse Multiline String"

on:
  workflow_call:
    inputs:
      multilineInput:
        type: string
        required: true

jobs:
  parse:
    runs-on: ubuntu-latest
    steps:
      - name: "Parse"
        run: |
          echo ${{ inputs.multilineInput }} | while read line; do
            echo "L: $line"; 
          done

